<html>
    <head><link rel="stylesheet" type="text/css" href="main_style.css"></head>
    <body>
        <div class="center">
            <h3> <%= feedback %></h3>
            <a href="/new_game">Play Again!</a>
        </div>

    </body>
</html>