<!DOCTYPE html>
<html lang="en">
    <head><link rel="stylesheet" type="text/css" href="main_style.css"></head>
    <body>
        <div class="center">
            <h1>Would you like to play Hangman?</h1>
            <a href="./new_game">Let's Play!</a> 
        </div>

    </body>
</html>