<!DOCTYPE html>
<html lang="en">
<head></head>

<body>
    <p><%= feedback %></p>
    <p>
        <%= blanks %>
    </p>
    <p><%= guesses %></p>
    <p>Turns: <%= turns %></p>
    <form action="./make_guess" method="get">
        <input type="text" name="guess">
        <input type="submit" value="Guess!">
    </form>
    <a href="/">Back</a>
    <a href="./new_game">Start Over?</a>
</body>

</html>