<!DOCTYPE html>
<html lang="en">
<head></head>

<body>
    <p>
        <%= blanks %>
    </p>
    <form>
        <input type="text" name="guess">
        <input type="button" value="Guess!">
    </form>
    <a href="/">Back</a>
    <a href="./play_game">Start Over?</a>
</body>

</html>